body {
  background-color: #d8dce3;
}

img {
  max-width: 100%;
}

.bg-contain {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.bg-cover {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg-center {
  background-position: center center !important;
}

.card {
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.menu-title-gray-700 .menu-item .menu-link .menu-title {
  color: #000;
}

.carousel-banner {
  border-radius: 5px;
  overflow: hidden;
}

.form-control.form-control-solid {
  background-color: #fff;
  border-color: #dddd;
  color: #5e6278;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.btn-footer {
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: 5px;
  color: #0155e4 !important;
  margin: 3px;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: rgba(245, 248, 250, 0.8);
}

.scrolltop {
  bottom: 90px;
}

.fix-bottom {
  user-select: none;
  transition: opacity 700ms ease 0s, color 700ms ease 0s,
    transform 200ms ease 0s;
  cursor: pointer;
  opacity: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  bottom: 33px;
  right: 20px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 2px 4px;
  z-index: 101;
  transform: translateX(0px) translateZ(0px);
}

.vote-widget .menu-sub-dropdown {
  inset: auto auto 50px -20px !important;
}

.btn-explore {
  bottom: 0;
  right: 80px;
  z-index: 1000;
  position: fixed;
}

.title-tools {
  position: relative;
  transform: translate(-25px, -15px);
}

.bg-btn {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.main-header .menu-item .menu-link:hover:not(.disabled):not(.active),
.main-header .menu-item.hover > .menu-link:not(.disabled):not(.active) {
  background: rgb(6, 115, 231);
  background: linear-gradient(
    90deg,
    rgba(6, 115, 231, 1) 35%,
    rgba(18, 155, 247, 1) 100%
  );
}

.main-header .menu-item.here > .menu-link .menu-title,
.main-header .menu-item:hover > .menu-link .menu-title,
.main-header .menu-item:focus > .menu-link .menu-title {
  color: #fff !important;
}

.p-relative{
  position: relative;
}

.bullet-noti{
  position: absolute;
}
.bullet-news{
  margin-right: 10px;
}